// 请把后缀带上,这是个坑
@import "./normalize.less";

//公共样式
html,body,#app,#main{
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.img_w_100{width:100%}
.main{margin: 10px auto;width: 96%;}
.width_0{width: 0}
.width_100{width: 100%}
.height_100{height: 100%}
.flex{display: flex;align-items: center;justify-content: center;}
.flex_a{display: flex;align-items: center;}
.flex_j{display: flex;justify-content: center;}
.flex_r{display: flex}
.flex_f{display: flex;flex-direction: column}
.f_f{flex-flow: wrap}
.flex_fe{display: flex;align-items: flex-end;flex-direction: column}
.flex_ce{display: flex;justify-content:flex-end;align-items: center;}
.flex_sc{display: flex;align-items: flex-start;justify-content: center;}
.flex_sb{display: flex;align-items: center;justify-content: space-between;}
.flex_1{flex: 1;}
.flex_2{flex: 2;}
.flex_3{flex: 3;}
.margin_10{margin:10px}
.margin_t_10{margin-top:10px}
.margin_b_10{margin-bottom:10px}
.margin_tm_10{margin:10px 0}
.margin_l_10{margin-left:10px}
.margin_r_10{margin-right:10px}
.padding_10{padding: 10px}
.padding_t_10{padding-top: 10px}
.padding_l_10{padding-left: 10px}
.scroll_of{
  overflow: auto;
}
